h1
{
color:rgb(86, 65, 244);
display:inline;
}


h2
{
display:inline;
}




.intermediate
{

color:blue;
}
.right
{

float:right;
padding-right:1%;
<!-- background-color: red; -->
}

.left
{
padding-left:1%;
float:left;
}	

.icon
{
color:red;
}

.midline
{
padding-left:5%;
}
